{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src='{% static "dist/img/AdminLTELogo.png" %}' alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src='{% static "dist/img/user2-160x160.jpg" %}' class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
              {% url 'add_employee' as add_student %}
            <a href="{% url 'add_employee' %}" class="nav-link {% if request.path == add_employee %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Employee
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'manage_employee' as manage_employee %}
              {% url 'edit_employee' employee_id=id as edit_employee %}
            <a href="{% url 'manage_employee' %}" class="nav-link {% if request.path == manage_employee %} active {% endif %} {% if request.path == edit_employee %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Employee
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'add_position' as add_position %}
            <a href="{% url 'add_position' %}" class="nav-link {% if request.path == add_position %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Position
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'manage_position' as manage_position %}
              {% url 'edit_position' position_id=id as edit_position %}
            <a href="{% url 'manage_position' %}" class="nav-link {% if request.path == manage_position %} active {% endif %} {% if request.path == edit_position %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Position
              </p>
            </a>
          </li>
          </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>